<div class="calendar">
    <div class="header">
        <button id="prevMonth">Previous</button>
        <h2 id="currentMonthYear">Month Year</h2>
        <button id="nextMonth">Next</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody id="calendarBody">
            <!-- Calendar cells will be dynamically generated here -->
        </tbody>
    </table>
</div>

<script src="~/js/calendar.js" asp-append-version="true" />